[submodule "hello_foundry/hello_foundry/lib/forge-std"]
	path = hello_foundry/hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hello_foundry/hello_foundry/lib/openzeppelin-contracts"]
	path = hello_foundry/hello_foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
